In [1]:
import numpy
import pandas
import joblib
import json
import seaborn

import sklearn

%matplotlib inline

# Instructions

- Read **the test data** from the CSV file and properly set the index
- Load the trained model

     feature_2  feature_3  label
id
993  12.369014 -11.199469      0
859   7.692541   3.714898      0
298  20.280348   2.769000      1
553   8.361636  -9.838214      0
672  -0.175060 -11.983523      0
..         ...        ...    ...
462  12.322416   0.002500      1
356   3.553869   5.881484      1
2     3.231929 -13.694254      0
478  18.170372   4.437525      1
695  15.239360  -1.690276      1

[250 rows x 3 columns]

KNeighborsClassifier()

# Instructions
- Calculate and add the `prediction` column to the dataframe of test data
- Write the dataframe to `./results/predictions.test.csv`

     feature_2  feature_3  label  prediction
id
993  12.369014 -11.199469      0           0
859   7.692541   3.714898      0           1
298  20.280348   2.769000      1           1
553   8.361636  -9.838214      0           1
672  -0.175060 -11.983523      0           0
..         ...        ...    ...         ...
462  12.322416   0.002500      1           1
356   3.553869   5.881484      1           1
2     3.231929 -13.694254      0           0
478  18.170372   4.437525      1           1
695  15.239360  -1.690276      1           1

[250 rows x 4 columns]

# Instructions
- Use `sklearn.metrics.confusion_matrix` to calculate the confusion matrix

array([[103,  19],
       [ 19, 109]])

# Instructions

- Use `sklearn.metrics.classification_report` to print the classification report
- Now, **manually fill** the following metrics `y=1` and put them in a Python dictionary
- The expected output should look like:

```
scores = {
     'true_positive': 109,
     'true_negative': 103,
     'false_negative': 19,
     'false_positive': 19,
     'accuracy': 0.848,
     'precision': 0.851562,
     'recall': 0.851562,
     'support': 128,
     'f1-score': 0.851562
}
```
- Use `json.dump` to save the output to  `./results/scores.test.json`

                    0           1  accuracy   macro avg  weighted avg
precision    0.844262    0.851562     0.848    0.847912         0.848
recall       0.844262    0.851562     0.848    0.847912         0.848
f1-score     0.844262    0.851562     0.848    0.847912         0.848
support    122.000000  128.000000     0.848  250.000000       250.000