In [1]:
import pandas
import sklearn.model_selection

# Instructions

- Read the data from CSV file and properly set the index
- Split the data into a train data set and a test data set using `sklearn.model_selection.train_test_split` with the following configurations:
```
    train_size   = 0.75
    shuffle      = True 
    random_state = 0
```
- Write the train data set to `./data/interleaving_moons.train.csv`
- Write the test data set to `./data/interleaving_moons.test.csv`
- **No data processing shall be performed in this step**

     feature_1  feature_2  label
id
0       2.1296     0.6299      1
1       1.8889     0.1463      1
2      -0.1904     0.3840      0
3      -0.4044     0.1953      1
4       0.3730    -0.4297      1
..         ...        ...    ...
995     1.6205     0.3095      1
996     0.2299     1.0045      0
997     0.3906    -0.8415      1
998     0.2444     0.0249      1
999     0.4288    -0.5912      1

[1000 rows x 3 columns]