In [1]:
import pandas
import sklearn.model_selection

# Instructions

- Read the data from CSV file and properly set the index
- Split the data into a train data set and a test data set using `sklearn.model_selection.train_test_split` with the following configurations:
```
    train_size   = 0.75
    shuffle      = True 
    random_state = 0
```
- Write the train data set to `./data/swiss_roll.train.csv`
- Write the test data set to `./data/swiss_roll.test.csv`
- **No data processing shall be performed in this step**

     feature_1  feature_2  feature_3  label
id
0     1.992622   8.766139 -13.111400      0
1     5.214460  -8.732085  -5.270052      0
2     3.144801   3.231929 -13.694254      0
3     3.438061  10.565203 -13.966889      0
4    -5.027796   7.138582   0.629267      0
..         ...        ...        ...    ...
995  14.581925   6.229285  -7.511030      1
996   2.901444  12.695880 -12.299160      0
997  10.707488  10.445319   7.853760      1
998  12.605294   8.430044  -0.150085      1
999   9.044255  -1.058575 -12.296242      0

[1000 rows x 4 columns]