In [1]:
import pandas
import sklearn.model_selection

# Instructions

- Read the data from CSV file and properly set the index
- Split the data into a train data set and a test data set using `sklearn.model_selection.train_test_split` with the following configurations:
```
    train_size   = 0.75
    shuffle      = True 
    random_state = 0
```
- Write the train data set to `./data/odd_cube.train.csv`
- Write the test data set to `./data/odd_cube.test.csv`
- **No data processing shall be performed in this step**

     feature_1   label
id
0       0.2929  1.8578
1       1.2911  0.0296
2       0.6166 -0.4633
3       0.2693  0.0285
4      -0.4581 -0.9377
..         ...     ...
995    -2.4139 -2.2793
996     0.0895  0.1950
997     2.6305  3.1991
998    -1.6281  0.5310
999     1.0628  0.7398

[1000 rows x 2 columns]