In [1]:
import numpy
import pandas

In [2]:
def evaluate_results(data_test_label, predictions, raise_when_error=True):
    
    if raise_when_error:
        assert (predictions.index == data_test_label.index).all()
    
    intersections = (
        data_test_label
        .join(predictions)
        .dropna()
    )
    
    precision = (
        numpy.divide(
            intersections[['prediction', 'label']]
                .eq(1)
                .all(axis='columns')
                .sum(),
            predictions['prediction']
                .eq(1)
                .sum()
        )
        if predictions['prediction'].eq(1).sum() > 0 else 0
    )
    
    recall = (
        numpy.divide(
            intersections[['prediction', 'label']]
                .eq(1)
                .all(axis='columns')
                .sum(),
            data_test_label['label']
                .eq(1)
                .sum() 
        )
        if data_test_label['label'].eq(1).sum() > 0 else 0
    )
    
    f1_score = (
        numpy.divide(
            2. * precision * recall,
            precision + recall
        )
        if precision + recall > 0 else 0
    )
    
    return pandas.Series({
        'precision': precision,
        'recall': recall,
        'f1_score': f1_score,
        
    })

In [4]:
data_test_label = pandas.read_csv('./data/high_salary.test_label.csv').set_index('id')
data_test_label

       label
id
6111     0.0
11214    0.0
5554     1.0
25131    1.0
14324    1.0
...      ...
25998    1.0
8375     0.0
13888    0.0
4159     1.0
9658     0.0

[6967 rows x 1 columns]

In [5]:
predictions = pandas.read_csv('./results/predictions.test.csv').set_index('id')
predictions

       prediction
id
6111          0.0
11214         0.0
5554          1.0
25131         1.0
14324         1.0
...           ...
25998         1.0
8375          0.0
13888         0.0
4159          1.0
9658          0.0

[6967 rows x 1 columns]

In [6]:
(predictions.index == data_test_label.index).all()

True

In [7]:
evaluate_results(data_test_label, predictions)

precision    0.757081
recall       0.841547
f1_score     0.797083
dtype: float64