In [1]:
import pandas
import sklearn.model_selection

# Instructions

- Read the data from CSV file and properly set the index
- Split the data into a train data set and a test data set using `sklearn.model_selection.train_test_split` with the following configurations:
```
    train_size   = 0.75
    shuffle      = True 
    random_state = 0
```
- Write the train data set to `./data/blobs.train.csv`
- Write the test data set to `./data/blobs.test.csv`
- **No data processing shall be performed in this step**

In [2]:
data_train_test = pandas.read_csv('./data/blobs.csv').set_index('id')
data_train_test

     feature_1  feature_2
id
0      -7.4968    -4.7958
1      -9.8770    -6.8285
2       2.2098     0.3167
3       1.8201     0.2655
4      -9.2560    -5.9562
..         ...        ...
995   -10.3532    -6.6187
996    -6.5858    -2.9646
997    -4.6151    -0.4689
998    -4.6583    -0.1808
999     1.4038     1.5392

[1000 rows x 2 columns]

In [3]:
data_train, data_test = sklearn.model_selection.train_test_split(
    data_train_test, 
    train_size   = 0.75, 
    shuffle      = True, 
    random_state = 0
)

data_train.to_csv('./data/blobs.train.csv')
data_test.to_csv('./data/blobs.test.csv')