In [1]:
import pandas
import sklearn.model_selection

# Attention
Check out the files in the directory `./data/`. 
- The labaled data set and the live data set are already given
- The labaled data set is used to train and evaluate models
- The live data contains no `label` column
  - The lab aims to replicate the working environment you will experience as a data scientist

# Instructions

- Read the data from CSV file and properly set the index
- Split the data into a train data set and a test data set using `sklearn.model_selection.train_test_split` with the following configurations:
```
    train_size   = 0.75
    shuffle      = True 
    random_state = 0
```
- Write the train data set to `./data/credit.train.csv`
- Write the test data set to `./data/credit.test.csv`
- **No data processing shall be performed in this step**

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2.0,skilled,1,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1.0,skilled,1,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1.0,unskilled resident,2,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1.0,skilled,2,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2.0,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1.0,unskilled resident,1,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1.0,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4,male single,none,...,car,38,none,own,1.0,skilled,1,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1.0,skilled,1,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1.0,skilled,1,none,yes,good